{{> navbar}}

<link rel="stylesheet" href="/css/animations.css">

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-5 mb-3">{{ formattedDay }} Weather</h2>
            {{!-- Toggle buttons --}}
            {{> toggle-buttons}}
            {{!-- Today weather --}}
            {{> today-weather}}
            {{!-- Hourly Table --}}
            {{> hourly-table}}
        </div>
    </div>
</div>

<script src="/js/tempToggle.js"></script>
<script src="/js/cellColor.js"></script>