<div class="d-flex justify-content-end mb-2">
    <div class="btn-group" role="group">
        <button id="btn-celsius" type="button" class="btn btn-outline-primary">°C</button>
        <button id="btn-fahrenheit" type="button" class="btn btn-outline-primary active">°F</button>
    </div>
</div>